.index {
    padding: 2rem 4rem 4rem 7rem;
    max-width: 1200px;
    /*line-height: 1;
    margin: 0;
    margin-bottom: 1rem;*/
}

h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.about {
    right:0;
    float:right;
    /*margin-bottom: 2rem;*/
   
}

.postPreview {
    padding: 1 0 1 0;
}

.link {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;  
    color: black;
    text-decoration-color: black; 
}


.postDate{
    text-align: right;
    right: 0;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.excerpt{
    font-size: 1rem;
    margin-top: 0.5rem;
}


.title{
    margin-bottom: 3rem;
    margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .index {
      width: 100%;
      padding: 2rem;
    }

    .about {
        right:0;
        float:right;
        font-size: 0.8rem;
        /*margin-bottom: 2rem;*/
       
    }
    
    h1 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        margin-top: 2rem;
    }

    .title{
        margin-bottom: 1.5rem;
        margin-top: 2rem;
    }

    .link {
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 2rem;  
        color: black;
        text-decoration-color: black; 
    }

    .postDate{
        text-align: right;
        right: 0;
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
    
    .excerpt{
        font-size: 0.8rem;
        margin-top: 0.5rem;
        text-align: justify;
        text-justify: inter-word;
    }

  }