.page {
    padding: 2rem 4rem 4rem 7rem; 
    max-width: 1200px;
    /*line-height: 1;
    margin: 0;
    margin-bottom: 1rem;*/
}

.back {
    float: right;
    font-size: 18px;
}

h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.date {
    text-align:right;
    font-size: px;
}

.text {
    margin-top: 1rem;
    font-size: 1rem;
}

code {
    font-size: 0.8rem;
}

pre {
    background-color:lavenderblush;
    padding: 2px;
    padding-left: 10px;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .page {
      width: 100%;
      padding: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    
    .text{
        font-size: 0.8rem;
        margin-top: 0.5rem;
        /*text-align: justify;
        text-justify: inter-word;*/ 
    }

    code{
        font-size: 0.6rem;
        white-space: pre-wrap !important;
    }

  
    .back {
        float: right;
        font-size: 0.8rem;
    }

  }